<<<<<<< HEAD
/* Layer 2 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 75.59%;
right: 17.59%;
top: 47.27%;
bottom: 37.28%;

background: #BDBDBD;


/* Vector */

position: absolute;
left: 13.29%;
right: 82.37%;
top: 55.04%;
bottom: 35.1%;

background: #BDBDBD;


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 57.76%;
bottom: 0%;

background: linear-gradient(180deg, #E5E5E5 -22.66%, #F4F4F4 15.02%, #FFFFFF 55.85%);


/* Vector */

position: absolute;
left: 56.04%;
right: 42.02%;
top: 53.15%;
bottom: 43.14%;

background: #FFD3BC;


/* Vector */

position: absolute;
left: 55.85%;
right: 39.88%;
top: 55.24%;
bottom: 39.06%;

background: linear-gradient(232.81deg, #74C2B5 35.89%, #23B5B5 86.47%);


/* Vector */

position: absolute;
left: 47.57%;
right: 50.49%;
top: 54.33%;
bottom: 42.81%;

background: #FFD3BC;


/* Vector */

position: absolute;
left: 47.09%;
right: 41.38%;
top: 28.06%;
bottom: 45.04%;

background: #192B59;


/* Vector */

position: absolute;
left: 43.71%;
right: 49.62%;
top: 0.36%;
bottom: 91.28%;

background: linear-gradient(276.37deg, #F2BFAD -9.26%, #F2DAD4 57.24%);


/* Vector */

position: absolute;
left: 41.44%;
right: 38.24%;
top: 6.64%;
bottom: 69.39%;

background: linear-gradient(127.18deg, #23B5B5 21.88%, #23B5B5 94.29%);


/* Vector */

position: absolute;
left: 60.18%;
right: 35.59%;
top: 18.31%;
bottom: 77.5%;

background: linear-gradient(176.63deg, #F2BFAD 61.44%, #F2DAD4 140.17%);


/* Vector */

position: absolute;
left: 48.89%;
right: 44.29%;
top: 0%;
bottom: 91.58%;

background: #E64D4E;


/* Vector */

position: absolute;
left: 50.53%;
right: 45.72%;
top: 5.61%;
bottom: 89.16%;

background: linear-gradient(150.75deg, #F2BFAD 18406.26%, #F2DAD4 20875.93%);


/* Vector */

position: absolute;
left: 49.62%;
right: 44.97%;
top: 2.08%;
bottom: 90.78%;

background: #F2DAD4;


/* Vector */

position: absolute;
left: 55.92%;
right: 34.51%;
top: 15.72%;
bottom: 78.64%;

background: linear-gradient(151.5deg, #F6DBDB 23.81%, #EB9A99 91.4%);


/* Vector */

position: absolute;
left: 61.77%;
right: 35.16%;
top: 17.86%;
bottom: 78.71%;

background: #FFD3BC;


/* Vector */

position: absolute;
left: 45.43%;
right: 50.29%;
top: 55.57%;
bottom: 38.73%;

background: linear-gradient(127.19deg, #88C7B5 35.85%, #23B5B5 86.94%);
=======
.page {
    display: flex;
    flex-direction: 'row';
}

.page div.left {
    padding: 44px;
    flex: 4;
}

.page div.right {
    flex: 6;
}

h1.main-heading {
    margin-top: 12;
    margin-bottom: 0;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
}

h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;	
}

li{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
}

.page .wrap {
    margin-top: 75px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
}

.page .wrap h2 {
    margin-bottom: 16;
}

.page .wrap strong {

}

div.right {
    background-image: url(images/mimi-thian-vdXMSiX-n6M-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
}
>>>>>>> 7e5236615a9e64fa9930d06f8819d760c819a7fb
